$mainColor: #1D1D1D;
$thick : 3px;
$pad : 0.4em;
$extra : calc(#{$pad} * 1.2);
$color: #08FDD8;

// Letter Effects
h1 {
    background-image: url(https://media.giphy.com/media/1NUQOmilp3t4jF0wqR/giphy.gif);
    background-size: cover;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
    margin: 10px 0;
}

#main-effect-header{
    font-weight: 900;
}
//---------------------------------------------------------------------

.mainContent{
    background: $mainColor;
    height: 100vh;
    display: flex;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    

}

.leftBlock{
    width: 70px;
    height: 100vh;
    background:#181818;
}

.sm-top-tag, .sm-bottom-tag{
    font-family: 'Inconsolata', monospace;
}

.btn-contact{
    a {
        color: white;
        padding: $pad $extra;
        display: inline-block;
        border: $thick solid transparent;
        position: relative;

        font-size: 1.5em;
        cursor: pointer;
        letter-spacing: 0.07em;
    
        .text {
          // padding: 0 0.3em;
          font-family: proxima-nova, monospace;
          transform: translate3d(0,$pad,0);
          display: block;
          transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:hover{
          text-decoration: none;
          color: white;

        }
    
        &:after {
          position: absolute;
          content: '';
          bottom: -$thick;
          left: $extra;
          right: $extra;
          height: $thick;
          background: $color;
          // z-index: -1;
          transition: 
            transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
            right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
            left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
          transform-origin: left;
        }
    
      }
    
      .line {
        position: absolute;
        background: $color;
    
        &.-right,
        &.-left {
          width: $thick;
          bottom: -$thick;
          top: -$thick;
          transform: scale3d(1,0,1);
        }  
    
        &.-top,
        &.-bottom {
          height: $thick;
          left: -$thick;
          right: -$thick;
          transform: scale3d(0,1,1);
        }
    
        &.-right {
          right: -$thick;
          transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
          transform-origin: top;
        }
    
        &.-top {
          top: -$thick;
          transition: transform 0.08s linear 0.43s;
          transform-origin: left;
        }
    
        &.-left {
          left: -$thick;
          transition: transform 0.08s linear 0.51s;
          transform-origin: bottom;
        }
    
        &.-bottom {
          bottom: -$thick;
          transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
          transform-origin: right;
        }  
      }
    
      a:hover,
      a:active {
    
        .text {
          transform: translate3d(0,0,0);
          transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
        }
    
        &:after {
          transform: scale3d(0,1,1);
          right: -$thick;
          left: -$thick;
          transform-origin: right;
          transition: 
            transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
            right 0.2s cubic-bezier(1,0,.65,1.01),
            left 0s 0.3s;
        }
    
        .line {
          transform: scale3d(1,1,1);
    
          &.-right {
            transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
            transform-origin: bottom;
          }
    
          &.-top {
            transition: transform 0.08s linear 0.4s;
            transform-origin: right;
          }
    
          &.-left {
            transition: transform 0.08s linear 0.48s;
            transform-origin: top;
          }
    
          &.-bottom {
            transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
            transform-origin: left;
          }
        }
    
      }
}


// Text-zone

.text-zone{
    margin-top: 45%;
}

.sm-top-tag{
    display: block;
    margin: 0 30px 10px -90px;
}

.sm-bottom-tag{
    display: block;
    margin: 30px 50px 0px -90px;
}

// Main-img

.main-img{
    margin: 50px 0 0 140px;
}


//---------------------------------------------------------------

//-------------------------Media---------------------------------

/* xs (<=543px) */
@media (max-width: 575px) {
  .main-img{
    height: 250px;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10%;
  }

  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }

  #main-effect-header{
    font-size: 25px;
  }

  .title-descr{
    font-size: 12px;
  }

  .row .col-4{
    flex: none;
    max-width: 100%;
    padding: 0;
  }

  .text-zone{
    text-align: center;
  }

  .row .col-8{
    flex: none;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .btn-contact a{
    font-size: 1em;
  }
}
 
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) { 
  .main-img{
    width: 230px;
    height: 330px;
    margin-top:35%;
    margin-left: 25%;
  }

  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }

  #main-effect-header{
    font-size: 22px;
  }

  .title-descr{
    font-size: 14px;
  }

  .text-zone{
    margin-top: 160px;
    margin-left: 10px;
  }

  .btn-contact a{
    font-size: 1em;
  }

}
 
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {

  .main-img{
    width: 250px;
    height: 350px;
    margin-top: 60%;
    
  }

  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }

  #main-effect-header{
    font-size: 25px;
  }

  .text-zone{
    margin-top: 300px;
    margin-left: 20px;
  }

  .btn-contact a{
    font-size: 1.3em;
  }

}
 
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) { 
  .main-img{
    width: 250px;
    height: 350px;
    margin-top: 50%;
    
  }

  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }

  .text-zone{
    margin-left: 30px;
    margin-top: 300px;
  }

  #main-effect-header{
    font-size: 30px;
  }
 }
 
/* xl (1200 - 1400) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-img{
    width: 300px;
    height: 450px;
    margin-left: 30%;
    margin-top: 30%;
  }
  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }
  .text-zone{
    margin-left: 50px;
    margin-top: 250px;
  }
 }

 /* xl (>=1400) */
@media (min-width: 1400px) {
  .main-img{
    width: 400px;
    height: 600px;
  }
}