.card-container{
    margin-top: 5%;
}

.card-btn{
    margin-left: 5px;
    a{
        color:#c0c0c0;
        &:hover{ 
            text-decoration: none;
            color:#c0c0c0;
        }
    }
}

