.experiment{
   margin-top: 10%;
}
// Piramid Effects

#pyramid {
    // position: relative;
    // margin: 100px auto;
    // height: 500px;
    // width: 100px;
    // -webkit-transform-style: preserve-3d;
    // -webkit-animation: spin 10s linear infinite;
    // -webkit-transform-origin: 116px 200px 116px;

    // -moz-transform-style: preserve-3d;
    // -moz-animation: spin 10s linear infinite;
    // -moz-transform-origin: 116px 200px 116px;

    // -ms-transform-style: preserve-3d;
    // -ms-animation: spin 10s linear infinite;
    // -ms-transform-origin: 116px 200px 116px;

    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -210px;
    height: 500px;
    width: 100px;

    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    transform-origin: 116px 200px 116px;

}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

#pyramid > div {
    position: absolute;
    border-style: solid;
    border-width: 200px 0 200px 346px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    transform-origin:         0 0;
}

/* Put some text on each face */
#pyramid > div:after {
    color: #fff;
    left: -300px;
    top: -60px;
    text-align: center;
    opacity: .6;
    
}

//-------------------------
#pyramid > div:nth-child(2)::after{
    position: absolute;
    content: url(https://www.w3.org/html/logo/downloads/HTML5_Logo_128.png);
    box-sizing: border-box;
}
#pyramid > div:nth-child(3)::after{
    position: absolute;
    content: url(https://www.shareicon.net/data/128x128/2016/07/08/117367_logo_512x512.png);
    box-sizing: border-box;
}

#pyramid > div:nth-child(4)::after{
    position: absolute;
    content: url(https://www.shareicon.net/data/128x128/2015/09/01/94046_css3_512x512.png);
    box-sizing: border-box;
}

#pyramid > div:first-child::after{
    position: absolute;
    content: url(https://www.shareicon.net/data/128x128/2016/07/06/106573_software_512x512.png);
    box-sizing: border-box;
}



//--------------------------
#pyramid > div:first-child  {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -moz-transform:    rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -ms-transform:     rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    transform:         rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
}

#pyramid > div:nth-child(2) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -moz-transform:    rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -ms-transform:     rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    transform:         rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
}

#pyramid > div:nth-child(3) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.9);
    -webkit-transform: rotateX(60deg) rotateY(19.5deg);
    -moz-transform:    rotateX(60deg) rotateY(19.5deg);
    -ms-transform:     rotateX(60deg) rotateY(19.5deg);
    transform:         rotateX(60deg) rotateY(19.5deg);
}

#pyramid > div:nth-child(4) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.8);
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -moz-transform:    rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -ms-transform:     rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    transform:         rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
}


//-------------------------Media---------------------------------

/* xs (<=543px) */
@media (max-width: 575px) {
  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }
  .media-about{
    margin: 200px 10px 0 10px;
    text-align: center;
    p{
      font-size: 18px;
    }
  }
  .wrapper{
    display: none;
  }
  .col-8 .experiment{
    display: none;
  }
}
 
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) { 
  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }
  .media-about{
    margin-left: 40px;
    width: 350px;
    margin-top: 165px;
    text-align: center;
    p{
      font-size: 20px;
    }
  }
  .wrapper{
    display: none;
  }
  .col-8 .experiment{
    display: none;
  }
}
 
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {

  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }
  .media-about{
    margin-left: 120px;
    width: 350px;
    margin-top: 165px;
    text-align: center;
    p{
      font-size: 20px;
    }
  }
  .wrapper{
    display: none;
  }
  .col-8 .experiment{
    display: none;
  }
}
 
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) { 
  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }

  .media-about{
    margin-top: 150px;
  }

 }
 
/* xl (1200 - 1400) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .sm-top-tag, .sm-bottom-tag{
    display: none;
  }
  .media-about{
    margin-top: 180px;
  }
 }

 /* xl (>=1400) */
@media (min-width: 1400px) {
  .media-about{
      margin-top: 150px;
  }
  .experiment{
      margin-top: 15%;
  }
}

//-----------------------------------------------------------------------------