.hover{
    font-size: 15px;
}

.hover:hover{
    color: #08FDD8;
    transition: all 1.5s;
    transform: rotate(360deg);
}

nav{
    text-align: center;
    padding-top: 25vh;
    
}

.spanContent{
    font-size: 10px;

}
